option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 8080
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SPRING_PROFILES_ACTIVE
    value: prod
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: true
